*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

a{
  text-decoration: inherit;
  color: inherit;
}

*::-webkit-scrollbar{
  width: 8px;
  background-color: grey;
}

.App{
  min-height: 98.5vh;
  margin: 5px;
  padding: 5px;
}